@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    padding: 48px 96px 0px 96px;
    scroll-behavior: smooth;
}

/* Navbar CSS */

.logo img {
    width: 70%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fcfcfd;
    margin-left: 46px;
    font-size: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fcfcfd;
}

.navbar-nav {
    align-items: center;
}

.navbar-toggler:focus {
    border: none;
    box-shadow: unset;
}

.btn {
    color: #fcfcfd;
    background: #FE6D01;
    border-radius: 15px;
}

/* Section1 */

.section1 {
    font-size: 2px;
}

.section1 img {
    width: 100%;
}

.paraInit {
    margin-top: 75px;
}

.paraInit h1 {
    color: #fcfcfd;
    font-size: 36em;
}

.initOne {
    font-size: 15em;
    color: #ffffff;
}

.initTwo {
    font-size: 10em;
    color: #fcfcfd;
}

.paraInit button {
    box-shadow: 4px 2px 32px rgba(255, 144, 61, 0.75);
    backdrop-filter: blur(61px);
    padding: 20px;
    margin-top: 16px;
    font-size: 12em;
}

/* Section2 */

.section2 .row {
    flex-wrap: nowrap;
}

.section2 {
    font-size: 2px;
    margin-top: 110px;
}

.section2 .card {
    background: #FFAF73;
}

#orangeCard1 {
    margin-right: 26px;
}

.card img {
    width: 54%;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    font-size: 18em;
    color: #fcfcfd;
}

.card-body {
    margin-left: 36px;
    margin-top: 34px;
}

.orcardPara1 {
    font-size: 10em;
    color: #fcfcfd;
}

.card-text {
    font-size: 9em;
}

.section2 .btn {
    width: 133px;
    height: 62px;
    border-radius: 10px;
    padding: 16px 0px;
    font-size: 19px;
    margin-top: 16px;
    margin-bottom: 38px;
}

.pc {
    display: block;
}

/* Traction */

.traction {
    margin-top: 136px;
    font-size: 2px;
    text-align: center;
}

.traction h1 {
    color: #fcfcfd;
    font-size: 24em;
}

.orangeSpan {
    color: #FE6D01
}

.tractPara {
    color: #fcfcfd;
    font-size: 15em;
}

.phone {
    display: none;
}

/* Section3 */

.section3 {
    font-size: 2px;
}

.servicecard {
    display: flex;
    margin-top: 32em;
    background: #F2EDE8;
    box-shadow: 4px 2px 32px #F2EDE8;
    backdrop-filter: blur(61px);
    border-radius: 15px;
}

.servicecardImg img {
    width: 85%;
    margin-top: 50%;
}

.servicecard-body {
    margin-top: 43em;
}

.servicecard-body h5 {
    font-size: 24em;
}

.servicecard-text {
    font-size: 18em;
}

.content h4 {
    margin-top: 48px;
    font-size: 15em;
}

.skills {
    font-size: 10em;
}

.servicecard-body .btn {
    margin-top: 40px;
    margin-bottom: 66px;
    padding: 16px 20px;
    width: 234px;
    height: 62px;
    font-size: 9em;
}

/* Hand through phone */

.handThruph {
    margin-top: 194px;
    display: flex;
    font-size: 2px;
}

.handThruph .row {
    flex-wrap: nowrap;
}

.headAche {
    margin-left: 40em;
    color: #fcfcfd;
}

.headAche h5, .ache2 {
    font-size: 11em;
    color: #fcfcfd;
}

.ache1 {
    font-size: 19em;
    color: #fcfcfd;
}

/* Section4 */

.section4 {
    font-size: 2px;
    margin-top: 80px;
}

.section4 h5 {
    font-size: 24em;
    color: #fcfcfd;
    text-align: center;
}

.section4 h6 {
    font-size: 12em;
    color: #fcfcfd;
    text-align: center;
}

.section4 .row {
    justify-content: space-evenly;
    margin-top: 64px;
}

.blackCard {
    background: #24292E;
    box-shadow: 2px 2px 16px #FCFCFD;
    backdrop-filter: blur(61px);
    border-radius: 15px;
    height: auto;
    width: 30vw;
}

.blackCard .btn {
    width: 80px;
    height: 80px;
    font-size: 18em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: block;
}

.blackCard-body {
    margin-top: 6em;
    margin-bottom: 18em;
}

.blackCard-body h5 {
    font-size: 12em;
    text-align: center;
}

.designation, .blackCard-text {
    font-size: 9em;
    color: #fcfcfd;
    text-align: center;
}

/* Last Section */
.lastSection {
    font-size: 2px;
    margin-top: 150px;
}

.lastSection h5 {
    font-size: 24em;
    color: #fcfcfd;
    text-align: center;
}

.lastSection h6 {
    font-size: 12em;
    color: #fcfcfd;
    text-align: center;
}

.lastSection .btn {
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    display: block;
    width: 285px;
    height: 64px;
    box-shadow: 4px 2px 32px rgba(255, 144, 61, 0.75);
    backdrop-filter: blur(61px);
    border-radius: 15px;
    font-size: 12em;
    padding: 16px;
}

/* Footer */
footer {
    background: #24292E;
    font-size: 2px;
    border-radius: 15px 15px 0px 0px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    padding: 14em 0em;
}

.links a {
    text-decoration: none;
    color: #fcfcfd;
}

.my-5 {
    margin-bottom: 0px !important;
    margin-top: 183px !important;
}

.socials {
    margin: 20px 0px;
    font-size: 15em;
}

.socials a {
    color: #fcfcfd;
    margin: 0px 25px;
}

.fLogo {
    margin-bottom: 19em;
}

.fLogo img {
    margin-bottom: 4em;
}

.fLogo h6 {
    font-size: 7em;
}

.copyRight {
    font-size: 8em;
}
